Package: packagename
Source: packagename
Version: 42
Section: web
Priority: optional
Architecture: all
Depends: tomcat7-common, java7-runtime-headless, lsb-base (>= 3.0-6), libc6, adduser, ucf
Installed-Size: 35
Maintainer: Tobias Gesellchen <tobias@gesellix.de>
Description: Package packagename provides an example of a package.
 And we got some very great detailed description
Homepage: http://www.packagename.de/
