Package: test-name
Version: 42
Section: web
Priority: optional
Architecture: all
Depends: tomcat7-common, libc6, adduser, java7-runtime-headless | java6-runtime-headless | java7-runtime | java6-runtime
Installed-Size: 34
Maintainer: Tobias Gesellchen <tobias@gesellix.de>
Description: Test Control File
 And here comes a very extended description.
